<ion-header>
  <ion-toolbar>
    <ion-title>addProduct</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="height: 100vh;">
  <form #f [formGroup]="form" (ngSubmit)="createProduct(f)">
    <ion-grid>
      <ion-row>
        <ion-col style="height: 100%;">
          <ion-item style="margin-top: 20px;" lines="none">
              <ion-input
                name="productName"
                required
                formControlName="productName"
                [(ngModel)]="formData.productName"
                placeholder="Enter Product Name"
              >
              </ion-input>
          </ion-item>
          <ion-item style="margin-top: 20px;" lines="none">
              <ion-input
                name="productPrice"
                required
                formControlName="productPrice"
                [(ngModel)]="formData.productPrice"
                placeholder="Enter Product Price"
              >
              </ion-input>
          </ion-item>
          <ion-item style="margin-top: 20px;" lines="none">
              <ion-input
                name="productImage"
                required
                formControlName="productImage"
                [(ngModel)]="formData.productImage"
                placeholder="Enter Product image Url"
              >
              </ion-input>
          </ion-item>

          <ion-item style="margin-top: 20px;">

            <ion-button type="submit"
            >
            <ion-label class="ff-E-M fs-14"
            >Create Product</ion-label
            ></ion-button
            >
          </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
